<% include header %>
<% include sidenav %>

<div id="main">
    <a href="/logout" class="btn btn-info">Logout</a>
    <h1>My plans</h1>

    <a href="/plan/add" type="button" class="btn btn-success btn-lg" >Add new plan</a>

    <h1 class="title"></h1>


    <div class="container">
        <div class="row" id="myPlansContainer">

            <% plans.forEach(function(plan) { %>
            <%- include('plan',
                            {
                                plan:plan,
                                isMyPlan:true
                            }) 
                -%>
            <% }) %>

        </div>
    </div>

</div>
<% include footer %>