<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h5><%= user.email %></h5>
    <a href="/plan">Workout plans</a>
    <a href="/plan/user">My plans</a>
</div>

<span class="open-btn" onclick="openNav()">&#9776;</span>
